In [6]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)' and stock_year not in ('TTM Q1/2018')
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)
df['STOCK_YEAR'] = pd.to_numeric(df['STOCK_YEAR'])

df2 = pd.read_sql_query(
    """
                        select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from vcsc_stock_price;
                        """, conn)

df2['STOCK_DATE'] = pd.to_datetime(df2['STOCK_DATE'], format='%m/%d/%Y')

df2['STOCK_YEAR'] = df2['STOCK_DATE'].dt.year
df2['STOCK_MONTH'] = df2['STOCK_DATE'].dt.month
df2['STOCK_DAY'] = df2['STOCK_DATE'].dt.day

df2['QUARTER'] = df2['STOCK_DATE'].dt.to_period("Q")

gb = df2.groupby([df2['STOCK_CODE'], df2['STOCK_YEAR'], df2['STOCK_MONTH']]).agg({
    'STOCK_CLOSE':
    'first'
})

df3 = df.groupby([df['STOCK_CODE'], df['STOCK_YEAR']]).agg({'STOCK_DATA': 'first'})




result = pd.merge(df2, df, on=['STOCK_CODE', 'STOCK_YEAR'], how='left')

result2 = result.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR', 'STOCK_MONTH']).first()
result2

dfx = df.copy()
dfx.index += 1 
dfx

dfy = df.copy()
dfy.index += 2 
dfy


#results = pd.merge(dfy, dfx, df, left_index=True, right_index=True)
#results

result3 = pd.concat([df, dfx, dfy], axis=1, sort=False)

result

dfg = df2.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'QUARTER']).first()

dfg




#df.pivot(index='stock_code', columns='stock_year', values='stock_data')
#conn.close()

                   STOCK_DATE STOCK_CLOSE  STOCK_YEAR  STOCK_MONTH  STOCK_DAY
STOCK_CODE QUARTER
AAA        2016Q4  2016-12-30      16,141        2016           12         30
           2017Q1  2017-03-31      16,900        2017            3         31
           2017Q2  2017-06-30      23,833        2017            6         30
           2017Q3  2017-09-29      25,230        2017            9         29
           2017Q4  2017-12-29      24,383        2017           12         29
           2018Q1  2018-03-30      19,103        2018            3         30
           2018Q2  2018-06-29      18,900        2018            6         29
           2018Q3  2018-07-02      18,250        2018            7          2
AAM        2011Q3  2011-09-30      13,935        2011            9         30
           2011Q4  2011-12-30      13,621        2011           12         30
           2012Q1  2012-03-30      15,209        2012            3         30
           2012Q2  2012-06-29      16,928        2012            6         29
           2012Q3  2012-09-28      16,033        2012            9         28
           2012Q4  2012-12-28      16,498        2012           12         28
           2013Q1  2013-03-29      15,966        2013            3         29
           2013Q2  2013-06-28      14,636        2013            6         28
           2013Q3  2013-09-30      14,088        2013            9         30
           2013Q4  2013-12-31      11,114        2013           12         31
           2014Q1  2014-03-31      13,274        2014            3         31
           2014Q2  2014-06-30      12,105        2014            6         30
           2014Q3  2014-09-30      12,856        2014            9         30
           2014Q4  2014-12-31      12,022        2014           12         31
           2015Q1  2015-03-31      11,527        2015            3         31
           2015Q2  2015-06-30      11,527        2015            6         30
           2015Q3  2015-09-30       9,366        2015            9         30
           2015Q4  2015-12-31       9,923        2015           12         31
           2016Q1  2016-03-31      10,400        2016            3         31
           2016Q2  2016-06-30      10,400        2016            6         30
           2016Q3  2016-09-30      10,209        2016            9         30
           2016Q4  2016-12-30       9,083        2016           12         30
...                       ...         ...         ...          ...        ...
XMD        2016Q2  2016-06-30       9,659        2016            6         30
           2016Q3  2016-07-01       9,659        2016            7          1
XPH        2014Q4  2014-12-31      10,700        2014           12         31
           2015Q1  2015-03-31      15,300        2015            3         31
           2015Q2  2015-06-30       9,191        2015            6         30
           2015Q3  2015-09-30       8,036        2015            9         30
           2015Q4  2015-12-31       8,451        2015           12         31
           2016Q1  2016-03-31      11,057        2016            3         31
           2016Q2  2016-06-30       8,267        2016            6         30
           2016Q3  2016-09-30       7,000        2016            9         30
           2016Q4  2016-12-30       6,200        2016           12         30
           2017Q1  2017-03-31       7,500        2017            3         31
           2017Q2  2017-06-30       6,295        2017            6         30
           2017Q3  2017-09-29       5,700        2017            9         29
           2017Q4  2017-12-29       6,800        2017           12         29
           2018Q1  2018-03-30       7,000        2018            3         30
           2018Q2  2018-06-29       7,300        2018            6         29
           2018Q3  2018-07-02       6,367        2018            7          2
YBC        2014Q2  2014-06-30       5,200        2014            6         30
           2014Q3  2014-09-30       4,400        2014            9         30
           2014Q4  2014-12-31       2,500        2014           12         31
           2015Q1  2015-03-31       3,200        2015            3         31
           2015Q2  2015-06-30       5,600        2015            6         30
           2015Q3  2015-09-30       5,000        2015            9         30
           2015Q4  2015-12-31       2,200        2015           12         31
           2016Q1  2016-03-31       3,600        2016            3         31
           2016Q2  2016-06-30       3,400        2016            6         30
           2016Q3  2016-07-01       3,400        2016            7          1
YEG        2018Q2  2018-06-29     319,000        2018            6         29
           2018Q3  2018-07-02     296,700        2018            7          2

[21808 rows x 5 columns]

In [30]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)' and stock_year not in ('TTM Q1/2018')
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)
df['STOCK_YEAR'] = pd.to_numeric(df['STOCK_YEAR'])
df['STOCK_DATA'] = df['STOCK_DATA'].str.replace('-', '')
df['STOCK_DATA'] = df['STOCK_DATA'].str.replace(',', '')


df['STOCK_DATA'] = pd.to_numeric(df['STOCK_DATA'])


df['D'] = df.groupby("STOCK_YEAR")["STOCK_DATA"].rank("dense", ascending=False)
df['C'] = pd.qcut(df['STOCK_DATA'], 10, labels=list(range(10)))

df["quantiles"] = df.groupby("STOCK_YEAR")["STOCK_DATA"].transform(pd.qcut,10,list(range(10)))
df.loc[df['STOCK_CODE'] == 'AAA']

  STOCK_CODE  STOCK_YEAR  STOCK_DATA      D  C  quantiles
0        AAA        2008      3466.0  236.0  7        7.0
1        AAA        2009      5716.0  151.0  8        8.0
2        AAA        2010      9114.0   54.0  9        9.0
3        AAA        2011      6614.0   89.0  9        9.0
4        AAA        2012      2785.0  331.0  6        7.0
5        AAA        2013      2775.0  324.0  6        7.0
6        AAA        2014      1186.0  707.0  3        4.0
7        AAA        2015       740.0  851.0  2        3.0
8        AAA        2016      2293.0  418.0  6        7.0
9        AAA        2017      2672.0  403.0  6        7.0