In [96]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)'
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)

df2 = pd.read_sql_query(
    """
                        select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from vcsc_stock_price;
                        """, conn)

df2['STOCK_DATE'] = pd.to_datetime(df2['STOCK_DATE'], format='%m/%d/%Y')

df2['STOCK_YEAR'] = df2['STOCK_DATE'].dt.year
df2['STOCK_MONTH'] = df2['STOCK_DATE'].dt.month
df2['STOCK_DAY'] = df2['STOCK_DATE'].dt.day

gb = df2.groupby([df2['STOCK_CODE'], df2['STOCK_YEAR'], df2['STOCK_MONTH']]).agg({
    'STOCK_CLOSE':
    'first'
})

result = pd.concat([gb, gb], axis=1, sort=False)
result

#df.pivot(index='stock_code', columns='stock_year', values='stock_data')
#conn.close()

                                  STOCK_CLOSE STOCK_CLOSE
STOCK_CODE STOCK_YEAR STOCK_MONTH
AAA        2016       11               20,280      20,280
                      12               16,141      16,141
           2017       1                15,107      15,107
                      2                17,245      17,245
                      3                16,900      16,900
                      4                17,797      17,797
                      5                21,039      21,039
                      6                23,833      23,833
                      7                23,118      23,118
                      8                23,867      23,867
                      9                25,230      25,230
                      10               22,320      22,320
                      11               23,646      23,646
                      12               24,383      24,383
           2018       1                23,032      23,032
                      2                21,722      21,722
                      3                19,103      19,103
                      4                20,000      20,000
                      5                20,200      20,200
                      6                18,900      18,900
                      7                18,250      18,250
AAM        2011       7                12,716      12,716
                      8                13,354      13,354
                      9                13,935      13,935
                      10               14,051      14,051
                      11               13,993      13,993
                      12               13,621      13,621
           2012       1                15,270      15,270
                      2                14,904      14,904
                      3                15,209      15,209
...                                       ...         ...
XPH        2018       6                 7,300       7,300
                      7                 6,367       6,367
YBC        2014       6                 5,200       5,200
                      7                 5,200       5,200
                      8                 5,200       5,200
                      9                 4,400       4,400
                      10                4,400       4,400
                      11                2,700       2,700
                      12                2,500       2,500
           2015       1                 2,400       2,400
                      2                 2,600       2,600
                      3                 3,200       3,200
                      4                 3,800       3,800
                      5                 4,100       4,100
                      6                 5,600       5,600
                      7                 7,300       7,300
                      8                 7,300       7,300
                      9                 5,000       5,000
                      10                5,000       5,000
                      11                2,933       2,933
                      12                2,200       2,200
           2016       1                 4,100       4,100
                      2                 4,100       4,100
                      3                 3,600       3,600
                      4                 3,000       3,000
                      5                 4,000       4,000
                      6                 3,400       3,400
                      7                 3,400       3,400
YEG        2018       6               319,000     319,000
                      7               296,700     296,700

[62749 rows x 2 columns]