In [30]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)' and stock_year not in ('TTM Q1/2018')
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)
df['STOCK_YEAR'] = pd.to_numeric(df['STOCK_YEAR'])
df['STOCK_DATA'] = df['STOCK_DATA'].str.replace('-', '')
df['STOCK_DATA'] = df['STOCK_DATA'].str.replace(',', '')


df['STOCK_DATA'] = pd.to_numeric(df['STOCK_DATA'])


df['D'] = df.groupby("STOCK_YEAR")["STOCK_DATA"].rank("dense", ascending=False)
df['C'] = pd.qcut(df['STOCK_DATA'], 10, labels=list(range(10)))

df["quantiles"] = df.groupby("STOCK_YEAR")["STOCK_DATA"].transform(pd.qcut,10,list(range(10)))
df.loc[df['STOCK_CODE'] == 'AAA']

  STOCK_CODE  STOCK_YEAR  STOCK_DATA      D  C  quantiles
0        AAA        2008      3466.0  236.0  7        7.0
1        AAA        2009      5716.0  151.0  8        8.0
2        AAA        2010      9114.0   54.0  9        9.0
3        AAA        2011      6614.0   89.0  9        9.0
4        AAA        2012      2785.0  331.0  6        7.0
5        AAA        2013      2775.0  324.0  6        7.0
6        AAA        2014      1186.0  707.0  3        4.0
7        AAA        2015       740.0  851.0  2        3.0
8        AAA        2016      2293.0  418.0  6        7.0
9        AAA        2017      2672.0  403.0  6        7.0

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)' and stock_year not in ('TTM Q1/2018')
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)
df['STOCK_YEAR'] = pd.to_numeric(df['STOCK_YEAR'])

df2 = pd.read_sql_query(
    """
                        select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from vcsc_stock_price;
                        """, conn)

df2['STOCK_DATE'] = pd.to_datetime(df2['STOCK_DATE'], format='%m/%d/%Y')

df2['STOCK_YEAR'] = df2['STOCK_DATE'].dt.year
df2['STOCK_MONTH'] = df2['STOCK_DATE'].dt.month
df2['STOCK_DAY'] = df2['STOCK_DATE'].dt.day

df2['QUARTER'] = df2['STOCK_DATE'].dt.to_period("Q")

gb = df2.groupby([df2['STOCK_CODE'], df2['STOCK_YEAR'], df2['STOCK_MONTH']]).agg({
    'STOCK_CLOSE':
    'first'
})

df3 = df.groupby([df['STOCK_CODE'], df['STOCK_YEAR']]).agg({'STOCK_DATA': 'first'})




result = pd.merge(df2, df, on=['STOCK_CODE', 'STOCK_YEAR'], how='left')

result2 = result.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR', 'STOCK_MONTH']).first()
result2

dfx = df.copy()
dfx.index += 1 
dfx

dfy = df.copy()
dfy.index += 2 
dfy


#results = pd.merge(dfy, dfx, df, left_index=True, right_index=True)
#results

result3 = pd.concat([df, dfx, dfy], axis=1, sort=False)

result

dfg = df2.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'QUARTER']).first()

dfg




#df.pivot(index='stock_code', columns='stock_year', values='stock_data')
#conn.close()

      STOCK_CODE  STOCK_YEAR STOCK_DATA
1            AAA        2008      3,466
2            AAA        2009      5,716
3            AAA        2010      9,114
4            AAA        2011      6,614
5            AAA        2012      2,785
6            AAA        2013      2,775
7            AAA        2014      1,186
8            AAA        2015        740
9            AAA        2016      2,293
10           AAA        2017      2,672
11           AAM        2008        297
12           AAM        2009      4,631
13           AAM        2010      4,028
14           AAM        2011      5,644
15           AAM        2012      1,235
16           AAM        2013        648
17           AAM        2014        703
18           AAM        2015        183
19           AAM        2016        112
20           AAM        2017         90
21           AAV        2008          -
22           AAV        2009          -
23           AAV        2010          -
24           AAV        2011          -
25           AAV        2012          -
26           AAV        2013          -
27           AAV        2014       -425
28           AAV        2015      1,372
29           AAV        2016      1,144
30           AAV        2017      1,522
...          ...         ...        ...
15361        YEG        2008          -
15362        YEG        2009          -
15363        YEG        2010          -
15364        YEG        2011          -
15365        YEG        2012          -
15366        YEG        2013          -
15367        YEG        2014      4,626
15368        YEG        2015      1,465
15369        YEG        2016      1,614
15370        YEG        2017      2,474
15371        YRC        2008          -
15372        YRC        2009          -
15373        YRC        2010          -
15374        YRC        2011          -
15375        YRC        2012          -
15376        YRC        2013          -
15377        YRC        2014          -
15378        YRC        2015        707
15379        YRC        2016        715
15380        YRC        2017      1,035
15381        YTC        2008      1,881
15382        YTC        2009      2,157
15383        YTC        2010      2,446
15384        YTC        2011      2,852
15385        YTC        2012      3,538
15386        YTC        2013      3,766
15387        YTC        2014      4,009
15388        YTC        2015      4,214
15389        YTC        2016      4,430
15390        YTC        2017      4,265

[15390 rows x 3 columns]

In [ ]:

ds_price['INDEX'] = range(1, len(ds_price) + 1)
ds_price

ds_price1 = ds_price.copy()
ds_price1['INDEX'] += 1 

ds_price2 = ds_price1.copy()
ds_price2['INDEX'] += 1 

#ds_pricef = pd.concat([ds_price, ds_price1, ds_price2], axis=1, keys='INDEX')
#ds_pricef = pd.merge(ds_price, ds_price1, on=['INDEX'], right_index=True)
ds_pricef = ds_price.merge(ds_price1, on='INDEX', right_index=True).merge(ds_price2, on='INDEX', right_index=True)

ds_pricef

In [179]:
import sqlite3
import numpy as np
import pandas as pd
import itertools
import time

st = time.time()

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

print("1--- %s seconds ---" % (time.time() - st))
st = time.time()


ds_weight = np.arange(0.0, 1.01, 0.01)
#ds_weight = np.around(numbers, decimals=2)
ds_weight = [x for x in itertools.permutations(ds_weight, 2) if sum(x) == 1]
ds_weight = pd.DataFrame(ds_weight,columns=('W1','W2'))

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'].isin(['EPS (VND)', 'BVS'])]
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_YEAR'].astype('str') + ds_price['STOCK_DATE'].dt.quarter.astype('str')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '').astype(float)

ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).nth(0)
ds_price['NEXT-PRICE-Q'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR']).nth(0)
ds_price['NEXT-PRICE-Y'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)

ds_ratio = ds_ratio.merge(ds_price, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='right')
ds_ratio['XP'] = ds_ratio['STOCK_DATA'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RETURN'] = ds_ratio['NEXT-PRICE-Y'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RANK'] = ds_ratio.groupby(['STOCK_FACTOR', 'STOCK_YEAR'])['XP'].rank('dense', ascending=False)

ds_p = ds_ratio.pivot_table(index=['STOCK_YEAR', 'STOCK_CODE'], columns='STOCK_FACTOR', values=['RANK', 'RETURN'])
ds_p.columns = [' '.join(col).strip() for col in ds_p.columns.values]
ds_p = ds_p.reset_index()

ds_p['TMP'] = 1
ds_weight['TMP'] = 1
ds_p = pd.merge(ds_p, ds_weight, on='TMP', how='outer')
ds_p.fillna(0, inplace=True)

ds_p['RANK'] = ds_p['RANK BVS'] * ds_p['W1'] + ds_p['RANK EPS (VND)'] * ds_p['W2']
ds_p['DECILE'] = (ds_p.groupby(['W1', 'W2', 'STOCK_YEAR'])['RANK']
                                .apply(lambda x: pd.qcut(x,10,duplicates='drop',labels=False)))
ds_p = ds_p.loc[ds_p['DECILE'] == 9.0]

ds_p['RETURN'] = ds_p['RETURN BVS']
ds_p = ds_p.drop(columns=['STOCK_CODE', 'RANK BVS', 'RANK EPS (VND)', 'RETURN BVS', 'RETURN EPS (VND)'])
ds_p = ds_p.drop(columns=['TMP', 'RANK', 'DECILE'])

s6 = ds_p.groupby(['W1', 'W2', 'STOCK_YEAR']).agg({'RETURN':'mean'})
s6 = s6.reset_index()

s6.pivot_table(index=(['W1', 'W2']),columns='STOCK_YEAR', values='RETURN').sort_values(by=2017, ascending=False)

1--- 2.6288795471191406 seconds ---

,STOCK_YEAR,2011,2012,2013,2014,2015,2016,2017
W1,W2,,,,,,,
0.15,0.85,0.788023,1.044578,0.961199,0.924771,0.891273,1.100610,0.936920
0.14,0.86,0.786312,1.044578,0.960226,0.925763,0.884312,1.106657,0.936300
0.16,0.84,0.784694,1.031796,0.961882,0.932591,0.891273,1.103082,0.935427
0.17,0.83,0.784694,1.029625,0.977333,0.937905,0.889371,1.070753,0.932912
0.13,0.87,0.786312,1.039214,0.975290,0.917472,0.875864,1.109362,0.929838
0.06,0.94,0.781471,1.078101,1.005463,0.913474,0.872457,1.093943,0.929481
0.07,0.93,0.779689,1.070282,1.005463,0.918312,0.858684,1.091750,0.929481
0.10,0.90,0.777459,1.051323,0.999714,0.916592,0.871719,1.096757,0.928889
0.11,0.89,0.779003,1.051323,0.986880,0.910630,0.865438,1.100185,0.928807
0.12,0.88,0.789495,1.043753,0.986333,0.904640,0.874482,1.107138,0.928720
0.08,0.92,0.779689,1.074367,1.013102,0.917826,0.853030,1.113530,0.928714
0.04,0.96,0.779884,1.079764,0.997158,0.919199,0.887256,1.122458,0.928254
0.09,0.91,0.777459,1.076919,0.999935,0.916803,0.853030,1.113530,0.927002
0.05,0.95,0.792048,1.079764,1.005463,0.916208,0.887256,1.118102,0.926900
0.03,0.97,0.808688,1.088902,0.995683,0.919199,0.880893,1.097438,0.926717
0.21,0.79,0.790424,0.980137,0.960910,0.942000,0.880515,1.065617,0.925457
0.00,1.00,0.837704,1.115118,0.995606,0.925045,0.885809,1.107489,0.925202
0.02,0.98,0.827987,1.094303,0.984647,0.919386,0.880893,1.114811,0.925202
0.01,0.99,0.837704,1.094303,0.976754,0.926298,0.882409,1.110916,0.925202
0.18,0.82,0.776695,1.020314,0.979764,0.930891,0.893523,1.073912,0.921437
0.22,0.78,0.799552,0.958067,0.960910,0.944800,0.889259,1.060254,0.908906
0.19,0.81,0.787873,0.985729,0.974074,0.942169,0.884603,1.065687,0.908397
0.20,0.80,0.790424,0.980137,0.960910,0.940755,0.886248,1.066735,0.904754
0.26,0.74,0.798570,0.954621,0.957660,0.956379,0.897428,1.061929,0.902532
0.27,0.73,0.791932,0.954497,0.956793,0.962172,0.897428,1.060015,0.902532
0.28,0.72,0.794615,0.947648,0.956793,0.986343,0.915359,1.060015,0.902500
0.29,0.71,0.799812,0.948359,0.951038,0.994064,0.924133,1.106251,0.901982
0.34,0.66,0.786309,0.960780,0.948310,1.006045,0.948847,1.080377,0.901477
0.31,0.69,0.795782,0.947388,0.947419,0.994064,0.928874,1.072867,0.901128
0.23,0.77,0.799552,0.959872,0.952294,0.938207,0.883775,1.063150,0.900859
...,...,...,...,...,...,...,...,...
0.88,0.12,0.826263,0.942692,0.954130,1.054865,1.076396,1.102620,0.883832
0.89,0.11,0.826263,0.947451,0.954130,1.057247,1.074492,1.102384,0.883832
0.70,0.30,0.816024,0.923657,0.944665,0.988187,1.012200,1.063431,0.883403
0.60,0.40,0.792921,0.948388,0.946743,1.005193,1.001825,1.067165,0.883090
0.59,0.41,0.792921,0.948388,0.946423,0.988914,1.001825,1.067165,0.883090
0.58,0.42,0.792921,0.943501,0.946423,0.984595,1.006432,1.067165,0.883090
0.87,0.13,0.833027,0.946906,0.956816,1.044178,1.072019,1.102620,0.882855
0.64,0.36,0.798330,0.934533,0.952002,0.993424,1.027811,1.071918,0.882357
0.63,0.37,0.785114,0.934533,0.949213,0.993424,1.018596,1.071918,0.882357
0.62,0.38,0.785114,0.934533,0.949213,0.993424,1.018596,1.071918,0.882357
0.61,0.39,0.797279,0.948388,0.941675,0.998928,1.015524,1.071918,0.882357
0.86,0.14,0.833027,0.946906,0.956816,1.038700,1.064356,1.102620,0.882087
0.84,0.16,0.827483,0.950405,0.946883,0.995646,1.047207,1.089415,0.881622
0.85,0.15,0.831315,0.951078,0.946883,1.045235,1.047207,1.089415,0.881622
0.65,0.35,0.813714,0.934533,0.961078,0.994133,1.027811,1.075874,0.881451
0.56,0.44,0.792921,0.935461,0.945749,0.993128,1.011336,1.060842,0.880847
0.67,0.33,0.813714,0.922915,0.952403,0.985168,1.017378,1.075874,0.879897
0.57,0.43,0.792921,0.943501,0.947509,0.984595,1.011860,1.067165,0.879598
0.66,0.34,0.813714,0.929635,0.952403,0.994133,1.017378,1.075874,0.879151
0.99,0.01,0.850573,0.982329,0.970745,1.066203,1.065617,1.112252,0.876367
1.00,0.00,0.853193,0.982329,0.970745,1.066203,1.065617,1.112252,0.876367
0.97,0.03,0.834614,0.960249,0.953941,1.058592,1.067905,1.101640,0.874604
0.98,0.02,0.838515,0.971796,0.970745,1.058592,1.074122,1.108921,0.874309
0.96,0.04,0.832795,0.960249,0.963479,1.054021,1.069695,1.101640,0.869073
0.94,0.06,0.832795,0.955448,0.943652,1.045435,1.074332,1.104194,0.867719
0.95,0.05,0.832795,0.960249,0.948486,1.045435,1.074332,1.105788,0.865643
0.92,0.08,0.823595,0.947451,0.945229,1.045435,1.058417,1.106299,0.865073
0.93,0.07,0.830915,0.948889,0.943652,1.045435,1.066917,1.104194,0.865073
0.91,0.09,0.826263,0.947451,0.948427,1.047631,1.058417,1.105408,0.862921
0.90,0.10,0.826263,0.947451,0.948427,1.052769,1.065366,1.104458,0.859489