In [30]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)' and stock_year not in ('TTM Q1/2018')
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)
df['STOCK_YEAR'] = pd.to_numeric(df['STOCK_YEAR'])
df['STOCK_DATA'] = df['STOCK_DATA'].str.replace('-', '')
df['STOCK_DATA'] = df['STOCK_DATA'].str.replace(',', '')


df['STOCK_DATA'] = pd.to_numeric(df['STOCK_DATA'])


df['D'] = df.groupby("STOCK_YEAR")["STOCK_DATA"].rank("dense", ascending=False)
df['C'] = pd.qcut(df['STOCK_DATA'], 10, labels=list(range(10)))

df["quantiles"] = df.groupby("STOCK_YEAR")["STOCK_DATA"].transform(pd.qcut,10,list(range(10)))
df.loc[df['STOCK_CODE'] == 'AAA']

  STOCK_CODE  STOCK_YEAR  STOCK_DATA      D  C  quantiles
0        AAA        2008      3466.0  236.0  7        7.0
1        AAA        2009      5716.0  151.0  8        8.0
2        AAA        2010      9114.0   54.0  9        9.0
3        AAA        2011      6614.0   89.0  9        9.0
4        AAA        2012      2785.0  331.0  6        7.0
5        AAA        2013      2775.0  324.0  6        7.0
6        AAA        2014      1186.0  707.0  3        4.0
7        AAA        2015       740.0  851.0  2        3.0
8        AAA        2016      2293.0  418.0  6        7.0
9        AAA        2017      2672.0  403.0  6        7.0

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT STOCK_CODE,
                               STOCK_YEAR,
                               STOCK_DATA
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)' and stock_year not in ('TTM Q1/2018')
                         GROUP BY stock_code,
                                  stock_year,
                                  stock_data;           
                        """, conn)
df['STOCK_YEAR'] = pd.to_numeric(df['STOCK_YEAR'])

df2 = pd.read_sql_query(
    """
                        select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from vcsc_stock_price;
                        """, conn)

df2['STOCK_DATE'] = pd.to_datetime(df2['STOCK_DATE'], format='%m/%d/%Y')

df2['STOCK_YEAR'] = df2['STOCK_DATE'].dt.year
df2['STOCK_MONTH'] = df2['STOCK_DATE'].dt.month
df2['STOCK_DAY'] = df2['STOCK_DATE'].dt.day

df2['QUARTER'] = df2['STOCK_DATE'].dt.to_period("Q")

gb = df2.groupby([df2['STOCK_CODE'], df2['STOCK_YEAR'], df2['STOCK_MONTH']]).agg({
    'STOCK_CLOSE':
    'first'
})

df3 = df.groupby([df['STOCK_CODE'], df['STOCK_YEAR']]).agg({'STOCK_DATA': 'first'})




result = pd.merge(df2, df, on=['STOCK_CODE', 'STOCK_YEAR'], how='left')

result2 = result.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR', 'STOCK_MONTH']).first()
result2

dfx = df.copy()
dfx.index += 1 
dfx

dfy = df.copy()
dfy.index += 2 
dfy


#results = pd.merge(dfy, dfx, df, left_index=True, right_index=True)
#results

result3 = pd.concat([df, dfx, dfy], axis=1, sort=False)

result

dfg = df2.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'QUARTER']).first()

dfg




#df.pivot(index='stock_code', columns='stock_year', values='stock_data')
#conn.close()

      STOCK_CODE  STOCK_YEAR STOCK_DATA
1            AAA        2008      3,466
2            AAA        2009      5,716
3            AAA        2010      9,114
4            AAA        2011      6,614
5            AAA        2012      2,785
6            AAA        2013      2,775
7            AAA        2014      1,186
8            AAA        2015        740
9            AAA        2016      2,293
10           AAA        2017      2,672
11           AAM        2008        297
12           AAM        2009      4,631
13           AAM        2010      4,028
14           AAM        2011      5,644
15           AAM        2012      1,235
16           AAM        2013        648
17           AAM        2014        703
18           AAM        2015        183
19           AAM        2016        112
20           AAM        2017         90
21           AAV        2008          -
22           AAV        2009          -
23           AAV        2010          -
24           AAV        2011          -
25           AAV        2012          -
26           AAV        2013          -
27           AAV        2014       -425
28           AAV        2015      1,372
29           AAV        2016      1,144
30           AAV        2017      1,522
...          ...         ...        ...
15361        YEG        2008          -
15362        YEG        2009          -
15363        YEG        2010          -
15364        YEG        2011          -
15365        YEG        2012          -
15366        YEG        2013          -
15367        YEG        2014      4,626
15368        YEG        2015      1,465
15369        YEG        2016      1,614
15370        YEG        2017      2,474
15371        YRC        2008          -
15372        YRC        2009          -
15373        YRC        2010          -
15374        YRC        2011          -
15375        YRC        2012          -
15376        YRC        2013          -
15377        YRC        2014          -
15378        YRC        2015        707
15379        YRC        2016        715
15380        YRC        2017      1,035
15381        YTC        2008      1,881
15382        YTC        2009      2,157
15383        YTC        2010      2,446
15384        YTC        2011      2,852
15385        YTC        2012      3,538
15386        YTC        2013      3,766
15387        YTC        2014      4,009
15388        YTC        2015      4,214
15389        YTC        2016      4,430
15390        YTC        2017      4,265

[15390 rows x 3 columns]

In [ ]:

ds_price['INDEX'] = range(1, len(ds_price) + 1)
ds_price

ds_price1 = ds_price.copy()
ds_price1['INDEX'] += 1 

ds_price2 = ds_price1.copy()
ds_price2['INDEX'] += 1 

#ds_pricef = pd.concat([ds_price, ds_price1, ds_price2], axis=1, keys='INDEX')
#ds_pricef = pd.merge(ds_price, ds_price1, on=['INDEX'], right_index=True)
ds_pricef = ds_price.merge(ds_price1, on='INDEX', right_index=True).merge(ds_price2, on='INDEX', right_index=True)

ds_pricef

In [179]:
import sqlite3
import numpy as np
import pandas as pd
import itertools
import time

st = time.time()

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

print("1--- %s seconds ---" % (time.time() - st))
st = time.time()


ds_weight = np.arange(0.0, 1.01, 0.01)
#ds_weight = np.around(numbers, decimals=2)
ds_weight = [x for x in itertools.permutations(ds_weight, 2) if sum(x) == 1]
ds_weight = pd.DataFrame(ds_weight,columns=('W1','W2'))

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'].isin(['EPS (VND)', 'BVS'])]
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_YEAR'].astype('str') + ds_price['STOCK_DATE'].dt.quarter.astype('str')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '').astype(float)

ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).nth(0)
ds_price['NEXT-PRICE-Q'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR']).nth(0)
ds_price['NEXT-PRICE-Y'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)

ds_ratio = ds_ratio.merge(ds_price, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='right')
ds_ratio['XP'] = ds_ratio['STOCK_DATA'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RETURN'] = ds_ratio['NEXT-PRICE-Y'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RANK'] = ds_ratio.groupby(['STOCK_FACTOR', 'STOCK_YEAR'])['XP'].rank('dense', ascending=False)

ds_p = ds_ratio.pivot_table(index=['STOCK_YEAR', 'STOCK_CODE'], columns='STOCK_FACTOR', values=['RANK', 'RETURN'])
ds_p.columns = [' '.join(col).strip() for col in ds_p.columns.values]
ds_p = ds_p.reset_index()

ds_p['TMP'] = 1
ds_weight['TMP'] = 1
ds_p = pd.merge(ds_p, ds_weight, on='TMP', how='outer')
ds_p.fillna(0, inplace=True)

ds_p['RANK'] = ds_p['RANK BVS'] * ds_p['W1'] + ds_p['RANK EPS (VND)'] * ds_p['W2']
ds_p['DECILE'] = (ds_p.groupby(['W1', 'W2', 'STOCK_YEAR'])['RANK']
                                .apply(lambda x: pd.qcut(x,10,duplicates='drop',labels=False)))
ds_p = ds_p.loc[ds_p['DECILE'] == 9.0]

ds_p['RETURN'] = ds_p['RETURN BVS']
ds_p = ds_p.drop(columns=['STOCK_CODE', 'RANK BVS', 'RANK EPS (VND)', 'RETURN BVS', 'RETURN EPS (VND)'])
ds_p = ds_p.drop(columns=['TMP', 'RANK', 'DECILE'])

s6 = ds_p.groupby(['W1', 'W2', 'STOCK_YEAR']).agg({'RETURN':'mean'})
s6 = s6.reset_index()

s6.pivot_table(index=(['W1', 'W2']),columns='STOCK_YEAR', values='RETURN').sort_values(by=2017, ascending=False)

1--- 2.6288795471191406 seconds ---

,STOCK_YEAR,2011,2012,2013,2014,2015,2016,2017
W1,W2,,,,,,,
0.15,0.85,0.788023,1.044578,0.961199,0.924771,0.891273,1.100610,0.936920
0.14,0.86,0.786312,1.044578,0.960226,0.925763,0.884312,1.106657,0.936300
0.16,0.84,0.784694,1.031796,0.961882,0.932591,0.891273,1.103082,0.935427
0.17,0.83,0.784694,1.029625,0.977333,0.937905,0.889371,1.070753,0.932912
0.13,0.87,0.786312,1.039214,0.975290,0.917472,0.875864,1.109362,0.929838
0.06,0.94,0.781471,1.078101,1.005463,0.913474,0.872457,1.093943,0.929481
0.07,0.93,0.779689,1.070282,1.005463,0.918312,0.858684,1.091750,0.929481
0.10,0.90,0.777459,1.051323,0.999714,0.916592,0.871719,1.096757,0.928889
0.11,0.89,0.779003,1.051323,0.986880,0.910630,0.865438,1.100185,0.928807
0.12,0.88,0.789495,1.043753,0.986333,0.904640,0.874482,1.107138,0.928720
0.08,0.92,0.779689,1.074367,1.013102,0.917826,0.853030,1.113530,0.928714
0.04,0.96,0.779884,1.079764,0.997158,0.919199,0.887256,1.122458,0.928254
0.09,0.91,0.777459,1.076919,0.999935,0.916803,0.853030,1.113530,0.927002
0.05,0.95,0.792048,1.079764,1.005463,0.916208,0.887256,1.118102,0.926900
0.03,0.97,0.808688,1.088902,0.995683,0.919199,0.880893,1.097438,0.926717
0.21,0.79,0.790424,0.980137,0.960910,0.942000,0.880515,1.065617,0.925457
0.00,1.00,0.837704,1.115118,0.995606,0.925045,0.885809,1.107489,0.925202
0.02,0.98,0.827987,1.094303,0.984647,0.919386,0.880893,1.114811,0.925202
0.01,0.99,0.837704,1.094303,0.976754,0.926298,0.882409,1.110916,0.925202
0.18,0.82,0.776695,1.020314,0.979764,0.930891,0.893523,1.073912,0.921437
0.22,0.78,0.799552,0.958067,0.960910,0.944800,0.889259,1.060254,0.908906
0.19,0.81,0.787873,0.985729,0.974074,0.942169,0.884603,1.065687,0.908397
0.20,0.80,0.790424,0.980137,0.960910,0.940755,0.886248,1.066735,0.904754
0.26,0.74,0.798570,0.954621,0.957660,0.956379,0.897428,1.061929,0.902532
0.27,0.73,0.791932,0.954497,0.956793,0.962172,0.897428,1.060015,0.902532
0.28,0.72,0.794615,0.947648,0.956793,0.986343,0.915359,1.060015,0.902500
0.29,0.71,0.799812,0.948359,0.951038,0.994064,0.924133,1.106251,0.901982
0.34,0.66,0.786309,0.960780,0.948310,1.006045,0.948847,1.080377,0.901477
0.31,0.69,0.795782,0.947388,0.947419,0.994064,0.928874,1.072867,0.901128
0.23,0.77,0.799552,0.959872,0.952294,0.938207,0.883775,1.063150,0.900859
...,...,...,...,...,...,...,...,...
0.88,0.12,0.826263,0.942692,0.954130,1.054865,1.076396,1.102620,0.883832
0.89,0.11,0.826263,0.947451,0.954130,1.057247,1.074492,1.102384,0.883832
0.70,0.30,0.816024,0.923657,0.944665,0.988187,1.012200,1.063431,0.883403
0.60,0.40,0.792921,0.948388,0.946743,1.005193,1.001825,1.067165,0.883090
0.59,0.41,0.792921,0.948388,0.946423,0.988914,1.001825,1.067165,0.883090
0.58,0.42,0.792921,0.943501,0.946423,0.984595,1.006432,1.067165,0.883090
0.87,0.13,0.833027,0.946906,0.956816,1.044178,1.072019,1.102620,0.882855
0.64,0.36,0.798330,0.934533,0.952002,0.993424,1.027811,1.071918,0.882357
0.63,0.37,0.785114,0.934533,0.949213,0.993424,1.018596,1.071918,0.882357
0.62,0.38,0.785114,0.934533,0.949213,0.993424,1.018596,1.071918,0.882357
0.61,0.39,0.797279,0.948388,0.941675,0.998928,1.015524,1.071918,0.882357
0.86,0.14,0.833027,0.946906,0.956816,1.038700,1.064356,1.102620,0.882087
0.84,0.16,0.827483,0.950405,0.946883,0.995646,1.047207,1.089415,0.881622
0.85,0.15,0.831315,0.951078,0.946883,1.045235,1.047207,1.089415,0.881622
0.65,0.35,0.813714,0.934533,0.961078,0.994133,1.027811,1.075874,0.881451
0.56,0.44,0.792921,0.935461,0.945749,0.993128,1.011336,1.060842,0.880847
0.67,0.33,0.813714,0.922915,0.952403,0.985168,1.017378,1.075874,0.879897
0.57,0.43,0.792921,0.943501,0.947509,0.984595,1.011860,1.067165,0.879598
0.66,0.34,0.813714,0.929635,0.952403,0.994133,1.017378,1.075874,0.879151
0.99,0.01,0.850573,0.982329,0.970745,1.066203,1.065617,1.112252,0.876367
1.00,0.00,0.853193,0.982329,0.970745,1.066203,1.065617,1.112252,0.876367
0.97,0.03,0.834614,0.960249,0.953941,1.058592,1.067905,1.101640,0.874604
0.98,0.02,0.838515,0.971796,0.970745,1.058592,1.074122,1.108921,0.874309
0.96,0.04,0.832795,0.960249,0.963479,1.054021,1.069695,1.101640,0.869073
0.94,0.06,0.832795,0.955448,0.943652,1.045435,1.074332,1.104194,0.867719
0.95,0.05,0.832795,0.960249,0.948486,1.045435,1.074332,1.105788,0.865643
0.92,0.08,0.823595,0.947451,0.945229,1.045435,1.058417,1.106299,0.865073
0.93,0.07,0.830915,0.948889,0.943652,1.045435,1.066917,1.104194,0.865073
0.91,0.09,0.826263,0.947451,0.948427,1.047631,1.058417,1.105408,0.862921
0.90,0.10,0.826263,0.947451,0.948427,1.052769,1.065366,1.104458,0.859489

In [25]:
import sqlite3
import numpy as np
import pandas as pd
import itertools
import time

st = time.time()

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

print("1--- %s seconds ---" % (time.time() - st))
st = time.time()


#ds_weight = np.arange(0.0, 1.01, 0.01)
#ds_weight = np.around(numbers, decimals=2)
#ds_weight = [x for x in itertools.permutations(ds_weight, 1) if sum(x) == 1]
#ds_weight = pd.DataFrame(ds_weight,columns=('W1','W2'))

ds_weight = pd.DataFrame(data={'W1': [1.0]})

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'].isin(['BVS'])]
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_YEAR'].astype('str') + ds_price['STOCK_DATE'].dt.quarter.astype('str')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '').astype(float)

ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).nth(0)
ds_price['NEXT-PRICE-Q'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR']).nth(0)
ds_price['NEXT-PRICE-Y'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)

ds_ratio = ds_ratio.merge(ds_price, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='right')
ds_ratio['XP'] = ds_ratio['STOCK_DATA'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RETURN'] = ds_ratio['NEXT-PRICE-Y'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RANK'] = ds_ratio.groupby(['STOCK_FACTOR', 'STOCK_YEAR'])['XP'].rank('dense', ascending=True)

ds_p = ds_ratio.pivot_table(index=['STOCK_YEAR', 'STOCK_CODE'], columns='STOCK_FACTOR', values=['XP', 'RANK', 'RETURN'])
ds_p.columns = [' '.join(col).strip() for col in ds_p.columns.values]
ds_p = ds_p.reset_index()

ds_p['TMP'] = 1
ds_weight['TMP'] = 1
ds_p = pd.merge(ds_p, ds_weight, on='TMP', how='outer')
#ds_p.fillna(0, inplace=True)

ds_p['RANK'] = ds_p['RANK BVS'] * ds_p['W1'] #+ ds_p['RANK EPS (VND)'] * ds_p['W2']


ds_p['DECILE'] = (ds_p.groupby(['W1', 'STOCK_YEAR'])['RANK']
                                .apply(lambda x: pd.qcut(x,10,duplicates='drop',labels=False)))

ds_p = ds_p.loc[ds_p['DECILE'] == 9.0]

ds_p['RETURN'] = ds_p['RETURN BVS']
ds_p = ds_p.drop(columns=['STOCK_CODE', 'RANK BVS', 'RETURN BVS'])
ds_p = ds_p.drop(columns=['TMP', 'RANK', 'DECILE'])

s6 = ds_p.groupby(['W1', 'STOCK_YEAR']).agg({'RETURN':'mean'})
s6 = s6.reset_index()

s6.pivot_table(index=(['W1']),columns='STOCK_YEAR', values='RETURN')#.sort_values(by=2017, ascending=False)

#ds_p.to_excel('result_.xlsx', header=None, index=None)
#ds_p

1--- 2.274169445037842 seconds ---

STOCK_YEAR,2011,2012,2013,2014,2015,2016,2017
W1,,,,,,,
1.0,1.253681,1.752102,1.518855,1.585736,1.196865,1.282467,0.885472

In [19]:
import sqlite3
import pandas as pd
import time

st = time.time()

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

print("1--- %s seconds ---" % (time.time() - st))
st = time.time()

#ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'EPS (VND)']
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'BVS']

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

print("2--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_YEAR'].astype('str') + ds_price['STOCK_DATE'].dt.quarter.astype('str')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '').astype(float)

print("3--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).nth(0)
ds_price['NEXT-PRICE-Q'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR']).nth(0)
ds_price['NEXT-PRICE-Y'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)

print("4--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_ratio = ds_ratio.merge(ds_price, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='right')
ds_ratio['EP'] = ds_ratio['STOCK_DATA'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RETURN'] = ds_ratio['NEXT-PRICE-Y'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['DECILE'] = (ds_ratio.groupby('STOCK_YEAR')['EP']
                                .apply(lambda x: pd.qcut(x,10,duplicates='drop',labels=False)))
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'].str.contains('BVS')==True]
'''
s1 = ds_ratio.groupby(['STOCK_YEAR','DECILE'], as_index=False).mean()

print("5--- %s seconds ---" % (time.time() - st))
st = time.time()

s1.pivot(index='DECILE', columns='STOCK_YEAR', values='RETURN')
'''
ds_ratio.to_excel('result.xlsx', header=None, index=None)
ds_ratio

1--- 2.1758604049682617 seconds ---
2--- 0.1748948097229004 seconds ---
3--- 4.908275365829468 seconds ---
4--- 0.9270458221435547 seconds ---

,STOCK_CODE,STOCK_FACTOR,STOCK_YEAR,STOCK_DATA,NEXT-PRICE-Q,STOCK_CLOSE,STOCK_DATE,NEXT-PRICE-Y,EP,RETURN,DECILE
0,XHC,BVS,2016,10576.0,13184.0,11230.0,2016-12-30,15913.0,0.802184,1.206993,2.0
1,XHC,BVS,2017,12997.0,NaN,15913.0,2017-06-30,NaN,NaN,NaN,NaN
2,YBC,BVS,2014,3665.0,3200.0,2500.0,2014-12-31,2200.0,1.145312,0.687500,3.0
3,YBC,BVS,2015,5720.0,3600.0,2200.0,2015-12-31,3400.0,1.588889,0.944444,6.0
4,YBC,BVS,2016,6089.0,NaN,3400.0,2016-07-01,NaN,NaN,NaN,NaN
5,XPH,BVS,2014,16866.0,15300.0,10700.0,2014-12-31,8451.0,1.102353,0.552353,2.0
6,XPH,BVS,2015,16154.0,11057.0,8451.0,2015-12-31,6200.0,1.460975,0.560731,5.0
7,XMD,BVS,2015,12401.0,9659.0,9659.0,2015-12-31,9659.0,1.283880,1.000000,4.0
8,XMD,BVS,2016,13174.0,NaN,9659.0,2016-07-01,NaN,NaN,NaN,NaN
9,VIT,BVS,2017,12498.0,15300.0,18000.0,2017-12-29,13400.0,0.816863,0.875817,3.0
10,VSA,BVS,2015,25009.0,20940.0,21943.0,2015-12-31,19961.0,1.194317,0.953247,4.0
11,VSA,BVS,2016,26229.0,21510.0,19961.0,2016-12-30,19500.0,1.219386,0.906555,5.0
12,VSA,BVS,2017,25531.0,20000.0,19500.0,2017-12-29,20000.0,1.276550,1.000000,5.0
13,XPH,BVS,2016,16155.0,7500.0,6200.0,2016-12-30,6800.0,2.154000,0.906667,7.0
14,XPH,BVS,2017,16158.0,7000.0,6800.0,2017-12-29,6367.0,2.308286,0.909571,8.0
15,VIT,BVS,2011,12433.0,2666.0,2428.0,2011-12-30,2238.0,4.663541,0.839460,8.0
16,VIT,BVS,2012,11448.0,2714.0,2238.0,2012-12-28,3523.0,4.218128,1.298084,8.0
17,VIT,BVS,2013,12610.0,4570.0,3523.0,2013-12-31,7808.0,2.759300,1.708534,8.0
18,VIT,BVS,2014,15420.0,8950.0,7808.0,2014-12-31,13738.0,1.722905,1.534972,5.0
19,VIT,BVS,2015,12920.0,16666.0,13738.0,2015-12-31,19660.0,0.775231,1.179647,1.0
20,VIT,BVS,2016,15058.0,23830.0,19660.0,2016-12-30,18000.0,0.631893,0.755350,1.0
21,VCA,BVS,2011,12525.0,7332.0,7332.0,2011-12-30,8429.0,1.708265,1.149618,2.0
22,VVN,BVS,2017,NaN,6100.0,6600.0,2017-12-29,3900.0,NaN,0.639344,NaN
23,VOS,BVS,2011,10292.0,3800.0,4100.0,2011-12-30,2300.0,2.708421,0.605263,4.0
24,VOS,BVS,2012,10044.0,4000.0,2300.0,2012-12-28,4500.0,2.511000,1.125000,4.0
25,VOS,BVS,2013,8722.0,4600.0,4500.0,2013-12-31,6200.0,1.896087,1.347826,6.0
26,VOS,BVS,2014,9223.0,5300.0,6200.0,2014-12-31,2700.0,1.740189,0.509434,6.0
27,VOS,BVS,2015,7092.0,2800.0,2700.0,2015-12-31,1020.0,2.532857,0.364286,8.0
28,VOS,BVS,2016,4491.0,1130.0,1020.0,2016-12-30,3360.0,3.974336,2.973451,9.0
29,VOS,BVS,2017,4560.0,2190.0,3360.0,2017-12-29,1620.0,2.082192,0.739726,8.0
...,...,...,...,...,...,...,...,...,...,...,...
5293,ACB,BVS,2016,14997.0,22273.0,16000.0,2016-12-30,33546.0,0.673326,1.506128,2.0
5294,ALV,BVS,2011,12723.0,3557.0,2941.0,2011-12-30,2989.0,3.576891,0.840315,6.0
5295,ALV,BVS,2012,11342.0,2911.0,2989.0,2012-12-28,3540.0,3.896256,1.216077,7.0
5296,ALV,BVS,2013,11659.0,4484.0,3540.0,2013-12-31,5022.0,2.600134,1.119982,8.0
5297,ACB,BVS,2017,15604.0,46700.0,33546.0,2017-12-29,33300.0,0.334133,0.713062,0.0
5298,ALV,BVS,2014,10322.0,5991.0,5022.0,2014-12-31,4669.0,1.722918,0.779336,5.0
5299,ALV,BVS,2015,11139.0,4317.0,4669.0,2015-12-31,2467.0,2.580264,0.571462,8.0
5300,ALV,BVS,2016,12023.0,2995.0,2467.0,2016-12-30,13100.0,4.014357,4.373957,9.0
5301,ALV,BVS,2017,13127.0,8900.0,13100.0,2017-12-29,3900.0,1.474944,0.438202,6.0
5302,ASA,BVS,2012,10517.0,14105.0,13525.0,2012-12-28,16520.0,0.745622,1.171216,0.0
5303,ASA,BVS,2013,10154.0,16617.0,16520.0,2013-12-31,7246.0,0.611061,0.436059,0.0
5304,ASP,BVS,2016,10305.0,3781.0,3723.0,2016-12-30,7160.0,2.725469,1.893679,8.0
5305,ASP,BVS,2017,11289.0,7800.0,7160.0,2017-12-29,7050.0,1.447308,0.903846,6.0
5306,AAA,BVS,2016,16570.0,16900.0,16141.0,2016-12-30,24383.0,0.980473,1.442781,4.0
5307,AAA,BVS,2017,16470.0,19103.0,24383.0,2017-12-29,18250.0,0.862168,0.955347,3.0
5308,ASA,BVS,2014,10267.0,5024.0,7246.0,2014-12-31,2898.0,2.043591,0.576831,7.0
5309,ASA,BVS,2015,10384.0,3100.0,2898.0,2015-12-31,1800.0,3.349677,0.580645,9.0
5310,ASA,BVS,2016,10451.0,2200.0,1800.0,2016-12-30,3000.0,4.750455,1.363636,9.0
5311,ASA,BVS,2017,10490.0,3000.0,3000.0,2017-12-29,1600.0,3.496667,0.533333,9.0
5312,ASM,BVS,2011,16750.0,12111.0,12276.0,2011-12-30,4789.0,1.383040,0.395426,1.0
5313,ASM,BVS,2012,17048.0,3688.0,4789.0,2012-12-28,4492.0,4.622560,1.218004,8.0
5314,ASM,BVS,2013,14741.0,7663.0,4492.0,2013-12-31,7446.0,1.923659,0.971682,6.0
5315,ASM,BVS,2014,11811.0,7360.0,7446.0,2014-12-31,15000.0,1.604755,2.038043,5.0
5316,ASM,BVS,2015,11022.0,15455.0,15000.0,2015-12-31,13364.0,0.713167,0.864704,1.0
5317,ASM,BVS,2016,11845.0,14000.0,13364.0,2016-12-30,10600.0,0.846071,0.757143,3.0
5318,ASM,BVS,2017,11475.0,11100.0,10600.0,2017-12-29,12150.0,1.033784,1.094595,4.0
5319,ANV,BVS,2011,21922.0,3096.0,2463.0,2011-12-30,3565.0,7.080749,1.151486,9.0
5320,ANV,BVS,2012,21467.0,2857.0,3565.0,2012-12-28,3520.0,7.513826,1.232062,9.0
5321,ANV,BVS,2013,20674.0,5067.0,3520.0,2013-12-31,4473.0,4.080126,0.882771,9.0
5322,ANV,BVS,2014,20497.0,5017.0,4473.0,2014-12-31,3974.0,4.085509,0.792107,9.0

In [1]:
import sqlite3
import pandas as pd
import time

st = time.time()

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

print("1--- %s seconds ---" % (time.time() - st))
st = time.time()

#ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'EPS (VND)']
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'BVS']

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

print("2--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_YEAR'].astype('str') + ds_price['STOCK_DATE'].dt.quarter.astype('str')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '').astype(float)

print("3--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).nth(0)
ds_price['NEXT-PRICE-Q'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR']).nth(0)
ds_price['NEXT-PRICE-Y'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)

print("4--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_ratio = ds_ratio.merge(ds_price, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='right')
ds_ratio['EP'] = ds_ratio['STOCK_DATA'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RETURN'] = ds_ratio['NEXT-PRICE-Y'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['DECILE'] = (ds_ratio.groupby('STOCK_YEAR')['EP']
                                .apply(lambda x: pd.qcut(x,10,duplicates='drop',labels=False)))
#s1 = ds_ratio.groupby(['STOCK_YEAR','DECILE'], as_index=False).mean()

print("5--- %s seconds ---" % (time.time() - st))
st = time.time()
#s1
#s1.pivot(index='DECILE', columns='STOCK_YEAR', values='RETURN')
ds_ratio

1--- 2.4082252979278564 seconds ---
2--- 0.14513087272644043 seconds ---
3--- 4.3364293575286865 seconds ---
4--- 0.8317775726318359 seconds ---
5--- 0.08577895164489746 seconds ---

,STOCK_CODE,STOCK_FACTOR,STOCK_YEAR,STOCK_DATA,NEXT-PRICE-Q,STOCK_CLOSE,STOCK_DATE,NEXT-PRICE-Y,EP,RETURN,DECILE
0,XHC,BVS,2016,10576.0,13184.0,11230.0,2016-12-30,15913.0,0.802184,1.206993,2.0
1,XHC,BVS,2017,12997.0,NaN,15913.0,2017-06-30,NaN,NaN,NaN,NaN
2,YBC,BVS,2014,3665.0,3200.0,2500.0,2014-12-31,2200.0,1.145312,0.687500,3.0
3,YBC,BVS,2015,5720.0,3600.0,2200.0,2015-12-31,3400.0,1.588889,0.944444,6.0
4,YBC,BVS,2016,6089.0,NaN,3400.0,2016-07-01,NaN,NaN,NaN,NaN
5,XPH,BVS,2014,16866.0,15300.0,10700.0,2014-12-31,8451.0,1.102353,0.552353,2.0
6,XPH,BVS,2015,16154.0,11057.0,8451.0,2015-12-31,6200.0,1.460975,0.560731,5.0
7,XMD,BVS,2015,12401.0,9659.0,9659.0,2015-12-31,9659.0,1.283880,1.000000,4.0
8,XMD,BVS,2016,13174.0,NaN,9659.0,2016-07-01,NaN,NaN,NaN,NaN
9,VIT,BVS,2017,12498.0,15300.0,18000.0,2017-12-29,13400.0,0.816863,0.875817,3.0
10,VSA,BVS,2015,25009.0,20940.0,21943.0,2015-12-31,19961.0,1.194317,0.953247,4.0
11,VSA,BVS,2016,26229.0,21510.0,19961.0,2016-12-30,19500.0,1.219386,0.906555,5.0
12,VSA,BVS,2017,25531.0,20000.0,19500.0,2017-12-29,20000.0,1.276550,1.000000,5.0
13,XPH,BVS,2016,16155.0,7500.0,6200.0,2016-12-30,6800.0,2.154000,0.906667,7.0
14,XPH,BVS,2017,16158.0,7000.0,6800.0,2017-12-29,6367.0,2.308286,0.909571,8.0
15,VIT,BVS,2011,12433.0,2666.0,2428.0,2011-12-30,2238.0,4.663541,0.839460,8.0
16,VIT,BVS,2012,11448.0,2714.0,2238.0,2012-12-28,3523.0,4.218128,1.298084,8.0
17,VIT,BVS,2013,12610.0,4570.0,3523.0,2013-12-31,7808.0,2.759300,1.708534,8.0
18,VIT,BVS,2014,15420.0,8950.0,7808.0,2014-12-31,13738.0,1.722905,1.534972,5.0
19,VIT,BVS,2015,12920.0,16666.0,13738.0,2015-12-31,19660.0,0.775231,1.179647,1.0
20,VIT,BVS,2016,15058.0,23830.0,19660.0,2016-12-30,18000.0,0.631893,0.755350,1.0
21,VCA,BVS,2011,12525.0,7332.0,7332.0,2011-12-30,8429.0,1.708265,1.149618,2.0
22,VVN,BVS,2017,NaN,6100.0,6600.0,2017-12-29,3900.0,NaN,0.639344,NaN
23,VOS,BVS,2011,10292.0,3800.0,4100.0,2011-12-30,2300.0,2.708421,0.605263,4.0
24,VOS,BVS,2012,10044.0,4000.0,2300.0,2012-12-28,4500.0,2.511000,1.125000,4.0
25,VOS,BVS,2013,8722.0,4600.0,4500.0,2013-12-31,6200.0,1.896087,1.347826,6.0
26,VOS,BVS,2014,9223.0,5300.0,6200.0,2014-12-31,2700.0,1.740189,0.509434,6.0
27,VOS,BVS,2015,7092.0,2800.0,2700.0,2015-12-31,1020.0,2.532857,0.364286,8.0
28,VOS,BVS,2016,4491.0,1130.0,1020.0,2016-12-30,3360.0,3.974336,2.973451,9.0
29,VOS,BVS,2017,4560.0,2190.0,3360.0,2017-12-29,1620.0,2.082192,0.739726,8.0
...,...,...,...,...,...,...,...,...,...,...,...
6259,WCS,NaN,2014,NaN,119463.0,134942.0,2014-12-31,145245.0,NaN,1.215816,NaN
6260,WCS,NaN,2015,NaN,158622.0,145245.0,2015-12-31,179788.0,NaN,1.133437,NaN
6261,WCS,NaN,2016,NaN,179301.0,179788.0,2016-12-30,157648.0,NaN,0.879237,NaN
6262,WCS,NaN,2017,NaN,152229.0,157648.0,2017-12-29,127000.0,NaN,0.834269,NaN
6263,WCS,NaN,2018,NaN,NaN,127000.0,2018-07-02,NaN,NaN,NaN,NaN
6264,WSB,NaN,2011,NaN,12778.0,9862.0,2011-12-30,16062.0,NaN,1.257004,NaN
6265,WSB,NaN,2012,NaN,16628.0,16062.0,2012-12-28,19715.0,NaN,1.185651,NaN
6266,WSB,NaN,2013,NaN,21118.0,19715.0,2013-12-31,31185.0,NaN,1.476702,NaN
6267,WSB,NaN,2014,NaN,29150.0,31185.0,2014-12-31,30397.0,NaN,1.042779,NaN
6268,WSB,NaN,2015,NaN,34382.0,30397.0,2015-12-31,53684.0,NaN,1.561398,NaN
6269,WSB,NaN,2016,NaN,53401.0,53684.0,2016-12-30,50253.0,NaN,0.941050,NaN
6270,WSB,NaN,2017,NaN,NaN,50253.0,2017-06-30,NaN,NaN,NaN,NaN
6271,WSS,NaN,2011,NaN,5700.0,3000.0,2011-12-30,4600.0,NaN,0.807018,NaN
6272,WSS,NaN,2012,NaN,3900.0,4600.0,2012-12-28,4500.0,NaN,1.153846,NaN
6273,WSS,NaN,2013,NaN,6900.0,4500.0,2013-12-31,5300.0,NaN,0.768116,NaN
6274,WSS,NaN,2014,NaN,5800.0,5300.0,2014-12-31,7600.0,NaN,1.310345,NaN
6275,WSS,NaN,2015,NaN,5400.0,7600.0,2015-12-31,4300.0,NaN,0.796296,NaN
6276,WSS,NaN,2016,NaN,4100.0,4300.0,2016-12-30,4000.0,NaN,0.975610,NaN
6277,WSS,NaN,2017,NaN,3400.0,4000.0,2017-12-29,2800.0,NaN,0.823529,NaN
6278,WSS,NaN,2018,NaN,NaN,2800.0,2018-07-02,NaN,NaN,NaN,NaN
6279,WTC,NaN,2011,NaN,4000.0,6300.0,2011-12-30,5600.0,NaN,1.400000,NaN
6280,WTC,NaN,2012,NaN,1800.0,5600.0,2012-12-28,1100.0,NaN,0.611111,NaN
6281,WTC,NaN,2013,NaN,1800.0,1100.0,2013-12-31,1800.0,NaN,1.000000,NaN
6282,WTC,NaN,2014,NaN,1800.0,1800.0,2014-12-31,1800.0,NaN,1.000000,NaN
6283,WTC,NaN,2015,NaN,2500.0,1800.0,2015-12-31,3600.0,NaN,1.440000,NaN
6284,WTC,NaN,2016,NaN,NaN,3600.0,2016-07-01,NaN,NaN,NaN,NaN
6285,X20,NaN,2018,NaN,NaN,12900.0,2018-07-02,NaN,NaN,NaN,NaN
6286,XLV,NaN,2018,NaN,NaN,11000.0,2018-07-02,NaN,NaN,NaN,NaN
6287,XPH,NaN,2018,NaN,NaN,6367.0,2018-07-02,NaN,NaN,NaN,NaN
6288,YEG,NaN,2018,NaN,NaN,296700.0,2018-07-02,NaN,NaN,NaN,NaN

In [2]:
import sqlite3
import pandas as pd
import time

st = time.time()

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

print("1--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'EPS (VND)']
#ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'BVS']

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

print("2--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_YEAR'].astype('str') + ds_price['STOCK_DATE'].dt.quarter.astype('str')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '').astype(float)

print("3--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).nth(0)
ds_price['NEXT-PRICE-Q'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_YEAR']).nth(0)
ds_price['NEXT-PRICE-Y'] = ds_price.groupby(level=0)['STOCK_CLOSE'].shift(-1)

print("4--- %s seconds ---" % (time.time() - st))
st = time.time()

ds_ratio = ds_ratio.merge(ds_price, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='right')
ds_ratio['EP'] = ds_ratio['STOCK_DATA'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['RETURN'] = ds_ratio['NEXT-PRICE-Y'].div(ds_ratio['NEXT-PRICE-Q'])
ds_ratio['DECILE'] = (ds_ratio.groupby('STOCK_YEAR')['EP']
                                .apply(lambda x: pd.qcut(x,10,duplicates='drop',labels=False)))
s1 = ds_ratio.groupby(['STOCK_YEAR','DECILE'], as_index=False).mean()

print("5--- %s seconds ---" % (time.time() - st))
st = time.time()

s1.pivot(index='DECILE', columns='STOCK_YEAR', values='RETURN')

1--- 2.9041662216186523 seconds ---
2--- 0.19501090049743652 seconds ---
3--- 7.320418834686279 seconds ---
4--- 1.3220758438110352 seconds ---
5--- 0.03200173377990723 seconds ---

STOCK_YEAR,2011,2012,2013,2014,2015,2016,2017
DECILE,,,,,,,
0.0,0.837704,1.115118,0.995606,0.925045,0.885809,1.107489,0.926600
1.0,0.920135,1.084825,1.175648,1.014271,1.094995,1.135392,0.887672
2.0,0.857687,1.184520,0.969740,1.067192,1.039543,1.164843,0.903127
3.0,0.952850,1.267875,0.991406,1.126042,1.083746,1.091764,0.938852
4.0,1.043203,1.271877,1.062791,1.098411,1.080078,1.151107,0.940865
5.0,1.119233,1.301727,1.098700,1.146277,1.141121,1.275363,0.969936
6.0,1.043732,1.284205,1.106619,1.245019,1.146367,1.149280,0.946592
7.0,1.119494,1.407103,1.096132,1.144480,1.094093,1.042661,0.959581
8.0,1.181776,1.397383,1.231342,1.302798,1.205132,1.103859,0.959370
9.0,1.154967,1.601060,1.476849,1.369186,1.128191,1.227250,0.906146