In [11]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT stock_code AS stock_code,
                               stock_factor AS stock_factor,
                               stock_year AS stock_year,
                               stock_data AS stock_data
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)'
                         GROUP BY stock_code,
                                  stock_factor,
                                  stock_year,
                                  stock_data;           
                        """, conn)

df2 = pd.read_sql_query(
    """
                        select stock_code, max(stock_date) from vcsc_stock_price group by stock_code;
                        """, conn)

conn.close()

df2

#df.pivot(index='stock_code', columns='stock_year', values='stock_data')

     STOCK_CODE max(stock_date)
0           AAA      12/30/2016
1           AAM      12/31/2015
2           AAV      07/02/2018
3           ABC      12/29/2017
4           ABI      12/31/2015
5           ABR      07/02/2018
6           ABT      12/31/2015
7           ACB      12/31/2015
8           ACC      12/31/2015
9           ACE      12/31/2015
10          ACL      12/31/2015
11          ACM      12/31/2015
12          ACV      12/30/2016
13          ADC      12/31/2015
14          ADP      12/31/2015
15          ADS      12/30/2016
16          AFX      12/29/2017
17          AGF      12/31/2015
18          AGM      12/31/2015
19          AGR      12/31/2015
20          ALT      12/31/2015
21          ALV      12/31/2015
22          AMC      12/31/2015
23          AMD      12/31/2015
24          AME      12/31/2015
25          AMS      12/29/2017
26          AMV      12/31/2015
27          ANT      12/30/2016
28          ANV      12/31/2015
29          APC      12/31/2015
...         ...             ...
1128        VSN      12/30/2016
1129        VSP      12/31/2015
1130        VST      12/31/2015
1131        VT1      12/31/2015
1132        VT8      12/31/2015
1133        VTA      12/31/2015
1134        VTB      12/31/2015
1135        VTC      12/31/2015
1136        VTE      07/02/2018
1137        VTH      12/31/2015
1138        VTI      12/31/2015
1139        VTJ      12/29/2017
1140        VTL      12/31/2015
1141        VTO      12/31/2015
1142        VTS      12/31/2015
1143        VTV      12/31/2015
1144        VTX      12/31/2015
1145        VVN      12/29/2017
1146        VXB      12/31/2015
1147        WCS      12/31/2015
1148        WSB      12/31/2015
1149        WSS      12/31/2015
1150        WTC      12/31/2015
1151        X20      07/02/2018
1152        XHC      12/30/2016
1153        XLV      07/02/2018
1154        XMD      12/31/2015
1155        XPH      12/31/2015
1156        YBC      12/31/2015
1157        YEG      07/02/2018

[1158 rows x 2 columns]