In [22]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'EPS (VND)']
ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '')
ds_price['STOCK_CLOSE'] = pd.to_numeric(ds_price['STOCK_CLOSE'])
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_DATE'].dt.to_period("Y")
ds_price = ds_price.merge(ds_ratio, left_on=['STOCK_CODE', 'STOCK_YEAR'], right_on=['STOCK_CODE', 'STOCK_YEAR'], how='left')
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).first()

ds_price['RETURN'] = ds_price['STOCK_CLOSE'].div(ds_price.groupby(level=0)['STOCK_CLOSE'].shift(1))
ds_price['EP'] = ds_price['STOCK_DATA'].div(ds_price['STOCK_CLOSE'])

ds_price['QUANTILES'] = ds_price.groupby('STOCK_YEAR')[['EP']].transform(lambda x: pd.cut(x, bins=10, duplicates='drop'))
#ds_price['QUANTILES'] = pd.qcut(ds_price['EP'],10,labels=list(range(10)))
#ds_price['QUANTILES'] = ds_price.groupby('STOCK_YEAR')['EP'].transform(pd.qcut,10,list(range(10)))
ds_price

                         STOCK_DATE  STOCK_CLOSE  STOCK_YEAR STOCK_FACTOR  \
STOCK_CODE STOCK_QUARTER
AAA        2016          2016-12-30        16141        2016    EPS (VND)
           2017          2017-12-29        24383        2017    EPS (VND)
           2018          2018-07-02        18250        2018          NaN
AAM        2011          2011-12-30        13621        2011    EPS (VND)
           2012          2012-12-28        16498        2012    EPS (VND)
           2013          2013-12-31        11114        2013    EPS (VND)
           2014          2014-12-31        12022        2014    EPS (VND)
           2015          2015-12-31         9923        2015    EPS (VND)
           2016          2016-12-30         9083        2016    EPS (VND)
           2017          2017-12-29         9875        2017    EPS (VND)
           2018          2018-07-02        10800        2018          NaN
AAV        2018          2018-07-02        16700        2018          NaN
ABC        2017          2017-12-29        14953        2017    EPS (VND)
           2018          2018-07-02         7004        2018          NaN
ABI        2011          2011-12-30         2258        2011    EPS (VND)
           2012          2012-12-28         2991        2012    EPS (VND)
           2013          2013-12-31         4954        2013    EPS (VND)
           2014          2014-12-31         7928        2014    EPS (VND)
           2015          2015-12-31        11229        2015    EPS (VND)
           2016          2016-12-30        21812        2016    EPS (VND)
           2017          2017-12-29        26648        2017    EPS (VND)
           2018          2018-07-02        23800        2018          NaN
ABR        2018          2018-07-02         7483        2018          NaN
ABT        2011          2011-12-30        17603        2011    EPS (VND)
           2012          2012-12-28        26530        2012    EPS (VND)
           2013          2013-12-31        28331        2013    EPS (VND)
           2014          2014-12-31        41565        2014    EPS (VND)
           2015          2015-12-31        42868        2015    EPS (VND)
           2016          2016-12-30        41596        2016    EPS (VND)
           2017          2017-12-29        29112        2017    EPS (VND)
...                             ...          ...         ...          ...
WSB        2017          2017-06-30        50253        2017          NaN
WSS        2011          2011-12-30         3000        2011          NaN
           2012          2012-12-28         4600        2012          NaN
           2013          2013-12-31         4500        2013          NaN
           2014          2014-12-31         5300        2014          NaN
           2015          2015-12-31         7600        2015          NaN
           2016          2016-12-30         4300        2016          NaN
           2017          2017-12-29         4000        2017          NaN
           2018          2018-07-02         2800        2018          NaN
WTC        2011          2011-12-30         6300        2011          NaN
           2012          2012-12-28         5600        2012          NaN
           2013          2013-12-31         1100        2013          NaN
           2014          2014-12-31         1800        2014          NaN
           2015          2015-12-31         1800        2015          NaN
           2016          2016-07-01         3600        2016          NaN
X20        2018          2018-07-02        12900        2018          NaN
XHC        2016          2016-12-30        11230        2016    EPS (VND)
           2017          2017-06-30        15913        2017    EPS (VND)
XLV        2018          2018-07-02        11000        2018          NaN
XMD        2015          2015-12-31         9659        2015    EPS (VND)
           2016          2016-07-01         9659        2016    EPS (VND)
XPH        2014          2014-12-31        10700        2014    EPS (VND)
           2015          2015-12-31         8451        2015    EPS (VND)
           2016          2016-12-30         6200        2016    EPS (VND)
           2017          2017-12-29         6800        2017    EPS (VND)
           2018          2018-07-02         6367        2018          NaN
YBC        2014          2014-12-31         2500        2014    EPS (VND)
           2015          2015-12-31         2200        2015    EPS (VND)
           2016          2016-07-01         3400        2016    EPS (VND)
YEG        2018          2018-07-02       296700        2018          NaN

                          STOCK_DATA    RETURN        EP          QUANTILES
STOCK_CODE STOCK_QUARTER
AAA        2016               2293.0       NaN  0.142061   (-0.0393, 3.945]
           2017               2672.0  1.510625  0.109585  (-0.00521, 0.524]
           2018                  NaN  0.748472       NaN                NaN
AAM        2011               5644.0       NaN  0.414360   (-0.556, 55.666]
           2012               1235.0  1.211218  0.074858   (-0.0889, 8.906]
           2013                648.0  0.673657  0.058305    (-0.0324, 3.27]
           2014                703.0  1.081699  0.058476   (-0.0217, 2.203]
           2015                183.0  0.825403  0.018442   (-0.0478, 4.804]
           2016                112.0  0.915348  0.012331   (-0.0393, 3.945]
           2017                 90.0  1.087196  0.009114  (-0.00521, 0.524]
           2018                  NaN  1.093671       NaN                NaN
AAV        2018                  NaN       NaN       NaN                NaN
ABC        2017              15528.0       NaN  1.038454     (0.524, 1.048]
           2018                  NaN  0.468401       NaN                NaN
ABI        2011               1429.0       NaN  0.632861   (-0.556, 55.666]
           2012               1821.0  1.324624  0.608826   (-0.0889, 8.906]
           2013               1387.0  1.656302  0.279976    (-0.0324, 3.27]
           2014               3033.0  1.600323  0.382568   (-0.0217, 2.203]
           2015               1568.0  1.416372  0.139638   (-0.0478, 4.804]
           2016               2225.0  1.942470  0.102008   (-0.0393, 3.945]
           2017               3378.0  1.221713  0.126764  (-0.00521, 0.524]
           2018                  NaN  0.893125       NaN                NaN
ABR        2018                  NaN       NaN       NaN                NaN
ABT        2011               7333.0       NaN  0.416577   (-0.556, 55.666]
           2012               5814.0  1.507129  0.219148   (-0.0889, 8.906]
           2013               5241.0  1.067885  0.184992    (-0.0324, 3.27]
           2014               5494.0  1.467121  0.132179   (-0.0217, 2.203]
           2015               4927.0  1.031348  0.114934   (-0.0478, 4.804]
           2016               3269.0  0.970328  0.078589   (-0.0393, 3.945]
           2017               2001.0  0.699875  0.068735  (-0.00521, 0.524]
...                              ...       ...       ...                ...
WSB        2017                  NaN  0.936089       NaN                NaN
WSS        2011                  NaN       NaN       NaN                NaN
           2012                  NaN  1.533333       NaN                NaN
           2013                  NaN  0.978261       NaN                NaN
           2014                  NaN  1.177778       NaN                NaN
           2015                  NaN  1.433962       NaN                NaN
           2016                  NaN  0.565789       NaN                NaN
           2017                  NaN  0.930233       NaN                NaN
           2018                  NaN  0.700000       NaN                NaN
WTC        2011                  NaN       NaN       NaN                NaN
           2012                  NaN  0.888889       NaN                NaN
           2013                  NaN  0.196429       NaN                NaN
           2014                  NaN  1.636364       NaN                NaN
           2015                  NaN  1.000000       NaN                NaN
           2016                  NaN  2.000000       NaN                NaN
X20        2018                  NaN       NaN       NaN                NaN
XHC        2016               3164.0       NaN  0.281745   (-0.0393, 3.945]
           2017               5046.0  1.417008  0.317099  (-0.00521, 0.524]
XLV        2018                  NaN       NaN       NaN                NaN
XMD        2015               1077.0       NaN  0.111502   (-0.0478, 4.804]
           2016                804.0  1.000000  0.083238   (-0.0393, 3.945]
XPH        2014                462.0       NaN  0.043178   (-0.0217, 2.203]
           2015                711.0  0.789813  0.084132   (-0.0478, 4.804]
           2016                  1.0  0.733641  0.000161   (-0.0393, 3.945]
           2017                  2.0  1.096774  0.000294  (-0.00521, 0.524]
           2018                  NaN  0.936324       NaN                NaN
YBC        2014                921.0       NaN  0.368400   (-0.0217, 2.203]
           2015                979.0  0.880000  0.445000   (-0.0478, 4.804]
           2016                370.0  1.545455  0.108824   (-0.0393, 3.945]
YEG        2018                  NaN       NaN       NaN                NaN

[6289 rows x 8 columns]