In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
ds_ratio = pd.read_sql_query('select STOCK_CODE, STOCK_FACTOR, STOCK_YEAR, STOCK_DATA from VCSC_FINANCIAL_RATIO', conn)
ds_price = pd.read_sql_query('select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from VCSC_STOCK_PRICE', conn)
conn.close()

#ds_ratio = ds_ratio.loc[ds_ratio['STOCK_FACTOR'] == 'EPS (VND)']
#ds_ratio = ds_ratio.loc[ds_ratio['STOCK_YEAR'].str.contains('TTM')==False]
#ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace('-', '')
#ds_ratio['STOCK_DATA'] = ds_ratio['STOCK_DATA'].str.replace(',', '')
#ds_ratio['STOCK_DATA'] = pd.to_numeric(ds_ratio['STOCK_DATA'])
#ds_ratio['STOCK_YEAR'] = pd.to_numeric(ds_ratio['STOCK_YEAR'])

ds_price['STOCK_DATE'] = pd.to_datetime(ds_price['STOCK_DATE'], format='%m/%d/%Y')
ds_price['STOCK_CLOSE'] = ds_price['STOCK_CLOSE'].str.replace(',', '')
ds_price['STOCK_CLOSE'] = pd.to_numeric(ds_price['STOCK_CLOSE'])
ds_price['STOCK_YEAR'] = ds_price['STOCK_DATE'].dt.year
ds_price['STOCK_QUARTER'] = ds_price['STOCK_DATE'].dt.to_period("Q")
ds_price = ds_price.sort_values(['STOCK_DATE'], ascending=[False]).groupby(['STOCK_CODE', 'STOCK_QUARTER']).first()

ds_price['RETURN'] = ds_price['STOCK_CLOSE'].div(ds_price.groupby(level=0)['STOCK_CLOSE'].shift(1))

ds_price

                         STOCK_DATE  STOCK_CLOSE  STOCK_YEAR    RETURN
STOCK_CODE STOCK_QUARTER
AAA        2016Q4        2016-12-30        16141        2016       NaN
           2017Q1        2017-03-31        16900        2017  1.047023
           2017Q2        2017-06-30        23833        2017  1.410237
           2017Q3        2017-09-29        25230        2017  1.058616
           2017Q4        2017-12-29        24383        2017  0.966429
           2018Q1        2018-03-30        19103        2018  0.783456
           2018Q2        2018-06-29        18900        2018  0.989373
           2018Q3        2018-07-02        18250        2018  0.965608
AAM        2011Q3        2011-09-30        13935        2011       NaN
           2011Q4        2011-12-30        13621        2011  0.977467
           2012Q1        2012-03-30        15209        2012  1.116585
           2012Q2        2012-06-29        16928        2012  1.113025
           2012Q3        2012-09-28        16033        2012  0.947129
           2012Q4        2012-12-28        16498        2012  1.029003
           2013Q1        2013-03-29        15966        2013  0.967754
           2013Q2        2013-06-28        14636        2013  0.916698
           2013Q3        2013-09-30        14088        2013  0.962558
           2013Q4        2013-12-31        11114        2013  0.788898
           2014Q1        2014-03-31        13274        2014  1.194349
           2014Q2        2014-06-30        12105        2014  0.911933
           2014Q3        2014-09-30        12856        2014  1.062040
           2014Q4        2014-12-31        12022        2014  0.935128
           2015Q1        2015-03-31        11527        2015  0.958825
           2015Q2        2015-06-30        11527        2015  1.000000
           2015Q3        2015-09-30         9366        2015  0.812527
           2015Q4        2015-12-31         9923        2015  1.059470
           2016Q1        2016-03-31        10400        2016  1.048070
           2016Q2        2016-06-30        10400        2016  1.000000
           2016Q3        2016-09-30        10209        2016  0.981635
           2016Q4        2016-12-30         9083        2016  0.889705
...                             ...          ...         ...       ...
XMD        2016Q2        2016-06-30         9659        2016  1.000000
           2016Q3        2016-07-01         9659        2016  1.000000
XPH        2014Q4        2014-12-31        10700        2014       NaN
           2015Q1        2015-03-31        15300        2015  1.429907
           2015Q2        2015-06-30         9191        2015  0.600719
           2015Q3        2015-09-30         8036        2015  0.874334
           2015Q4        2015-12-31         8451        2015  1.051643
           2016Q1        2016-03-31        11057        2016  1.308366
           2016Q2        2016-06-30         8267        2016  0.747671
           2016Q3        2016-09-30         7000        2016  0.846740
           2016Q4        2016-12-30         6200        2016  0.885714
           2017Q1        2017-03-31         7500        2017  1.209677
           2017Q2        2017-06-30         6295        2017  0.839333
           2017Q3        2017-09-29         5700        2017  0.905481
           2017Q4        2017-12-29         6800        2017  1.192982
           2018Q1        2018-03-30         7000        2018  1.029412
           2018Q2        2018-06-29         7300        2018  1.042857
           2018Q3        2018-07-02         6367        2018  0.872192
YBC        2014Q2        2014-06-30         5200        2014       NaN
           2014Q3        2014-09-30         4400        2014  0.846154
           2014Q4        2014-12-31         2500        2014  0.568182
           2015Q1        2015-03-31         3200        2015  1.280000
           2015Q2        2015-06-30         5600        2015  1.750000
           2015Q3        2015-09-30         5000        2015  0.892857
           2015Q4        2015-12-31         2200        2015  0.440000
           2016Q1        2016-03-31         3600        2016  1.636364
           2016Q2        2016-06-30         3400        2016  0.944444
           2016Q3        2016-07-01         3400        2016  1.000000
YEG        2018Q2        2018-06-29       319000        2018       NaN
           2018Q3        2018-07-02       296700        2018  0.930094

[21808 rows x 4 columns]