In [84]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query('SELECT * FROM s1_raw_data', conn)
conn.close()

df.pivot(index='stock_code', columns='stock_year', values='stock_data')

DatabaseError: Execution failed on sql 'SELECT * FROM s1_raw_data': no such table: s1_raw_data