In [50]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT stock_code AS stock_code,
                               stock_factor AS stock_factor,
                               stock_year AS stock_year,
                               stock_data AS stock_data
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)'
                         GROUP BY stock_code,
                                  stock_factor,
                                  stock_year,
                                  stock_data;           
                        """, conn)

df2 = pd.read_sql_query(
    """
                        select STOCK_CODE, STOCK_DATE, STOCK_CLOSE from vcsc_stock_price;
                        """, conn)


df2['STOCK_DATE'] = pd.to_datetime(df2['STOCK_DATE'], format='%m/%d/%Y')

df2['YEAR'] = df2['STOCK_DATE'].dt.year
df2['MONTH'] = df2['STOCK_DATE'].dt.month
df2['DAY'] = df2['STOCK_DATE'].dt.day

df2

#df.pivot(index='stock_code', columns='stock_year', values='stock_data')
#conn.close()

        STOCK_CODE STOCK_DATE STOCK_CLOSE  YEAR  MONTH  DAY
0              ACV 2017-05-03      48,732  2017      5    3
1              ACV 2017-04-28      49,178  2017      4   28
2              ACV 2017-04-27      49,595  2017      4   27
3              ACV 2017-04-26      49,496  2017      4   26
4              ACV 2017-04-25      48,593  2017      4   25
5              ACV 2017-04-24      48,980  2017      4   24
6              ACV 2017-04-21      49,228  2017      4   21
7              ACV 2017-04-20      49,555  2017      4   20
8              ACV 2017-04-19      49,119  2017      4   19
9              ACV 2017-04-18      49,456  2017      4   18
10             ACV 2017-04-17      49,605  2017      4   17
11             ACV 2017-04-14      49,506  2017      4   14
12             ACV 2017-04-13      49,744  2017      4   13
13             ACV 2017-04-12      49,655  2017      4   12
14             ACV 2017-04-11      49,922  2017      4   11
15             ACV 2017-04-10      50,180  2017      4   10
16             ACV 2017-04-07      49,902  2017      4    7
17             ACV 2017-04-05      49,833  2017      4    5
18             ACV 2017-04-04      49,655  2017      4    4
19             ACV 2017-04-03      50,269  2017      4    3
20             ACV 2017-03-31      50,498  2017      3   31
21             ACV 2017-03-30      50,398  2017      3   30
22             ACV 2017-03-29      50,517  2017      3   29
23             ACV 2017-03-28      50,577  2017      3   28
24             ACV 2017-03-27      50,607  2017      3   27
25             ACV 2017-03-24      50,646  2017      3   24
26             ACV 2017-03-23      50,706  2017      3   23
27             ACV 2017-03-22      50,994  2017      3   22
28             ACV 2017-03-21      50,775  2017      3   21
29             ACV 2017-03-20      50,878  2017      3   20
...            ...        ...         ...   ...    ...  ...
1274868        YBC 2014-09-18       4,400  2014      9   18
1274869        YBC 2014-09-17       4,400  2014      9   17
1274870        YBC 2014-09-16       4,400  2014      9   16
1274871        YBC 2014-09-15       4,400  2014      9   15
1274872        YBC 2014-09-12       4,400  2014      9   12
1274873        YBC 2014-09-11       4,400  2014      9   11
1274874        YBC 2014-09-10       4,400  2014      9   10
1274875        YBC 2014-09-09       4,400  2014      9    9
1274876        YBC 2014-09-08       4,400  2014      9    8
1274877        YBC 2014-09-05       4,400  2014      9    5
1274878        YBC 2014-09-04       4,400  2014      9    4
1274879        YBC 2014-09-03       4,400  2014      9    3
1274880        YBC 2014-08-29       4,400  2014      8   29
1274881        YBC 2014-08-28       4,400  2014      8   28
1274882        YBC 2014-08-27       4,400  2014      8   27
1274883        YBC 2014-08-26       4,400  2014      8   26
1274884        YBC 2014-08-25       4,400  2014      8   25
1274885        YBC 2014-08-22       4,400  2014      8   22
1274886        YBC 2014-08-21       4,400  2014      8   21
1274887        YBC 2014-08-20       4,400  2014      8   20
1274888        YBC 2014-08-19       4,400  2014      8   19
1274889        YBC 2014-08-18       4,400  2014      8   18
1274890        YBC 2014-08-15       4,400  2014      8   15
1274891        YBC 2014-08-14       4,400  2014      8   14
1274892        YBC 2014-08-13       4,400  2014      8   13
1274893        YBC 2014-08-12       4,400  2014      8   12
1274894        YBC 2014-08-11       4,400  2014      8   11
1274895        YBC 2014-08-08       4,800  2014      8    8
1274896        YBC 2014-08-07       4,800  2014      8    7
1274897        YBC 2014-08-06       5,200  2014      8    6

[1274898 rows x 6 columns]