In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stock.db")
df = pd.read_sql_query(
    """
                        SELECT stock_code AS stock_code,
                               stock_factor AS stock_factor,
                               stock_year AS stock_year,
                               stock_data AS stock_data
                          FROM vcsc_financial_ratio
                         WHERE stock_factor = 'EPS (VND)'
                         GROUP BY stock_code,
                                  stock_factor,
                                  stock_year,
                                  stock_data;           
                       """, conn)
conn.close()

df.pivot(index='stock_code', columns='stock_year', values='stock_data')

stock_year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,TTM Q1/2018
stock_code,,,,,,,,,,,
AAA,"3,466","5,716","9,114","6,614","2,785","2,775","1,186",740,"2,293","2,672","2,449"
AAM,297,"4,631","4,028","5,644","1,235",648,703,183,112,90,324
AAV,-,-,-,-,-,-,-425,"1,372","1,144","1,522","1,375"
ABC,"12,209","25,342","14,424","13,359","6,751","4,740","2,701","3,840","4,042","15,528","15,492"
ABG,-,-,-,-,-,-,-,540,205,464,464
ABI,244,243,979,"1,429","1,821","1,387","3,033","1,568","2,225","3,378","3,281"
ABR,-,-,-,-,-,-,-,379,590,252,NaN
ABT,"2,788","8,019","6,899","7,333","5,814","5,241","5,494","4,927","3,269","2,001","2,269"
AC4,-,-,"1,941","2,435","2,485","2,909","2,779","2,903","2,537","3,390",NaN
ACB,"3,478","2,817","2,455","3,421",836,881,"1,015","1,043","1,413","2,062","2,568"
ACC,"3,507","9,407","5,828","6,143","6,140","3,428","3,796","3,252","3,629","2,416","2,794"
ACE,"3,915","5,085","6,891","6,774","3,480","3,136","4,086","4,339","5,622","4,920",NaN
ACL,"7,940","5,588","5,418","6,244",821,280,669,"1,583","1,031",946,"1,147"
ACM,-,-,-,-,-,7,986,876,170,-536,NaN
ACS,-,-,-,-,-,"1,066",145,"1,020","1,796","1,750",NaN
ACV,-,-,-,"1,499","2,403","2,165","1,617","1,002","2,213","1,883","2,020"
ADC,"1,802","1,024","2,177","2,652","4,324","2,938","3,332","3,643","2,016","3,077","3,124"
ADP,"1,086","4,102","2,498",767,"3,317","4,703","5,381","5,478","5,456","3,082","2,554"
ADS,-,-,"4,997","2,650",-,"3,526","1,951",727,"2,044","2,270","3,372"
AFC,-,-,-,"3,847","1,599","1,777",915,"1,621",47,-193,NaN
AFX,"12,004","5,177",-,"1,159",312,28,-80,21,214,660,472
AG1,-,-,-,-,-,-,-,-,"1,657","1,728",NaN
AGC,"-2,368",161,"2,270","-17,435",-,-,-,-,-,-,NaN
AGF,962,"1,070","3,281","4,814","2,641",835,"2,822",22,153,"-10,131","-12,774"
AGM,"33,829","12,780","13,474","3,868","2,820","1,758",285,"2,418",292,619,621
AGP,"1,682","2,346","3,007","1,013","2,607","4,179","4,200","3,080","4,038","3,938",NaN
AGR,496,"1,774",915,503,310,93,225,-881,"-1,912",308,107
AGX,-,-,"3,648","2,225","3,114","3,004","3,795","3,117","5,080","6,275",NaN
ALP,585,936,"1,568",274,-753,"-1,070",-980,-517,-706,"2,287",NaN
ALT,"2,180","1,575","1,237","1,126","-1,206",399,161,928,782,"1,245","1,263"
...,...,...,...,...,...,...,...,...,...,...,...
VTB,"2,045","2,285","1,987","1,362",929,"1,160","1,492",982,"1,203","1,540","1,464"
VTC,711,963,173,"-1,664",-724,4,"1,004","1,694","1,512","1,979","1,665"
VTE,-,"1,152","1,806",-,-,-,376,673,791,319,NaN
VTG,304,68,191,356,416,-99,256,207,-336,-358,-27
VTH,32,395,448,"1,905","2,530","2,781","2,916","2,684","1,087",955,"1,042"
VTI,-,"1,411","1,507","1,386","1,307",49,"-31,668","-12,685","-12,163","-11,497",NaN
VTJ,635,810,949,613,-662,194,132,965,"1,213",299,"-1,099"
VTL,"1,953","2,600","1,766","1,204","-1,331",76,"-1,230","3,079",605,584,821
VTM,-,-,-,"4,891","3,964","2,159","2,539","1,292",767,"1,183",NaN
VTO,600,572,"1,040",826,617,563,657,601,932,"1,183","1,232"
VTS,"12,641","14,257","12,399","6,112",238,"-1,800",366,56,362,"1,103","1,006"
VTV,"5,265","3,889","2,054","2,170","1,970","1,589","2,360","1,169","1,634","3,670","2,431"
VTX,-,-,225,554,67,55,328,828,"2,214",841,475
VVN,-,-,"1,065",-689,"-5,021","-4,135","-3,174","-6,965","8,459","-1,685",NaN
VW1,-,"3,134","1,674",236,231,229,-,-,"-2,757","-8,296",NaN
VWS,"2,623","2,818","3,097","3,367",-,-,"2,885","3,206","3,048","5,275",NaN
VXB,"6,778","3,453","2,290","2,973","2,380","2,015","2,172","1,158","1,259","1,263","1,297"
VXP,-,-,-,-,-,-,-,216,509,"1,307",NaN
X18,-,-,"1,289",183,-658,"-1,757","-9,280","7,254","-6,440","-20,930","-23,956"
X20,-,-,-,-,-,-,-,-,-,"1,782",NaN
X26,-,-,-,-,-,-,-,-,-,-,-
X77,-,-,-,-,-,-,"-1,471","-17,018","-1,441","-7,444",NaN
XHC,-,-,-,-,-,-,-,50,"3,164","5,046","5,206"
XLV,-,-,-,"1,818","1,485",-,"1,734","1,469","2,093","2,135",NaN
XMD,"1,782","2,420","1,891","3,285","2,324","-2,604",631,"1,077",804,877,NaN
XPH,503,511,"11,622","18,011",179,-182,-462,-711,1,2,-116
YBC,"1,498","1,775",365,"-3,073","-4,073","-4,121",921,979,370,-,NaN
YEG,-,-,-,-,-,-,"4,626","1,465","1,614","2,474",NaN
YRC,-,-,-,-,-,-,-,707,715,"1,035",NaN
YTC,"1,881","2,157","2,446","2,852","3,538","3,766","4,009","4,214","4,430","4,265",NaN